{% extends "base.html" %}

{% block title %}Shebang{% endblock %}


{% block content %} 
  <div class="main-search">
    <div class="main-search-img"></div>
        
    <div class="main-search-bottom">
      <div class="search-wrap">
           
        <div class="search-form">
          <form>
            <div class="search-form-inside">
              <fieldset>
                <legend>
                  <input type="text" class="search-input" placeholder="방 검색" autocomplete="off">
                  <button class="search-btn">
                   <span class="btn-text">검색</span>
                  </button>
                </legend>
              </fieldset>
            </div>
          </form>
        </div>

      </div>

    </div>

   </div>
      
    <div class="room-search">
      <div class="room-search-header">
        <h2 class="room-search-title">방 종류별 검색</h2>
        <p class="room-search-sub">다양한 종류로 경북대 근처 방을 검색해보세요</p>
      </div>

      <div class="room-search-content">
          
        <div class="room-search-content-wrap">

          <a class="room-search-item">            
            <div class="room-search-item-img"></div>
            <div class="room-search-item-mask"></div>
            <div class="room-search-item-text">
              <h3 class="room-search-title">111</h3>
            </div>
          </a>

          <a class="room-search-item">            
            <div class="room-search-item-img"></div>
            <div class="room-search-item-mask"></div>
            <div class="room-search-item-text">
              <h3 class="room-search-title">222</h3>
            </div>
          </a>

          <a class="room-search-item">            
            <div class="room-search-item-img"></div>
            <div class="room-search-item-mask"></div>
            <div class="room-search-item-text">
              <h3 class="room-search-title">333</h3>
            </div>
          </a>

          <a class="room-search-item">            
            <div class="room-search-item-img"></div>
            <div class="room-search-item-mask"></div>
            <div class="room-search-item-text">
              <h3 class="room-search-title">444</h3>
            </div>
          </a>

          <a class="room-search-item">            
            <div class="room-search-item-img"></div>
            <div class="room-search-item-mask"></div>
            <div class="room-search-item-text">
              <h3 class="room-search-title">555</h3>
            </div>
          </a>

          <a class="room-search-item">            
            <div class="room-search-item-img"></div>
            <div class="room-search-item-mask"></div>
            <div class="room-search-item-text">
              <h3 class="room-search-title">666</h3>
            </div>
          </a>

           

      </div>

    </div>
</div>
{% endblock %}

