{% extends "base.html" %}

{% block title %}Shebang{% endblock %}


{% block content %}
   
    

  <div class="main-search">
    <div class="main-search-img">
      <div id="map" style="height: 100%; width: 100%;"></div>
    </div>
        
    <div class="main-search-bottom">
      <div class="search-wrap">
           
        <div class="search-form">
          <form>
            <div class="search-form-inside">
              <fieldset>
                <legend>
                  <input type="text" class="search-input" placeholder="방 검색" autocomplete="off">
                  <button class="search-btn">
                   <span class="btn-text">검색</span>
                  </button>
                </legend>
              </fieldset>
            </div>
          </form>
        </div>

      </div>

    </div>

   </div>
      
    <div class="room-search">
      <div class="room-search-header">
        <h2 class="room-search-title">방 종류별 검색</h2>
        <p class="room-search-sub">다양한 종류로 경북대 근처 방을 검색해보세요</p>
      </div>

      <div class="room-search-content">
          
        <div class="room-search-content-wrap">

          <a class="room-search-item">            
            <div class="room-search-item-img"></div>
            <div class="room-search-item-mask"></div>
            <div class="room-search-item-text">
              <h3 class="room-search-title">111</h3>
            </div>
          </a>

          <a class="room-search-item">            
            <div class="room-search-item-img"></div>
            <div class="room-search-item-mask"></div>
            <div class="room-search-item-text">
              <h3 class="room-search-title">222</h3>
            </div>
          </a>

          <a class="room-search-item">            
            <div class="room-search-item-img"></div>
            <div class="room-search-item-mask"></div>
            <div class="room-search-item-text">
              <h3 class="room-search-title">333</h3>
            </div>
          </a>

          <a class="room-search-item">            
            <div class="room-search-item-img"></div>
            <div class="room-search-item-mask"></div>
            <div class="room-search-item-text">
              <h3 class="room-search-title">444</h3>
            </div>
          </a>

          <a class="room-search-item">            
            <div class="room-search-item-img"></div>
            <div class="room-search-item-mask"></div>
            <div class="room-search-item-text">
              <h3 class="room-search-title">555</h3>
            </div>
          </a>

          <a class="room-search-item">            
            <div class="room-search-item-img"></div>
            <div class="room-search-item-mask"></div>
            <div class="room-search-item-text">
              <h3 class="room-search-title">666</h3>
            </div>
          </a>

           

      </div>

    </div>
</div>
<script>
      var kyungjin = {lat: 35.8916304, lng: 128.616626}
      var eastGate = {lat: 35.892222, lng: 128.615859}
      var bokhyun = {lat: 35.8917103, lng: 128.6161497}
      var enha = {lat: 35.8897567, lng: 128.6173157}
      var labels = ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10'];
      var labelIndex = 0;
      function initMap() {
        var knu = {lat: 35.8896931, lng: 128.6097433};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: knu
        });
        // var marker = new google.maps.Marker({
        //   position: knu,
        //   map: map
        // });

        addMarker(kyungjin, map);
        addMarker(eastGate, map);
        addMarker(bokhyun, map);
        addMarker(enha, map);
        
      }
     
      
    //   addMarker(eastGate, map);
      function addMarker(location, map) {
          var marker = new google.maps.Marker({
              position: location,
              label: labels[labelIndex++ % labels.length],
              map: map
          });


      };
      
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBUi9SQiqtsaQcAqrtPaZHc38f-OIX7z-s&callback=initMap">
    </script>
{% endblock %}

