{% extends "base.html" %}

{% block head %}{{ object.title }}{% endblock %}

{% block content %}

{{ object.content }} <br/>
{{ object.create_date }} <br/>
{{ object.location }}<br/>
{{ object.room_type }}<br/>
{{ object.rent }}<br/>
{{ object.deposit }}<br/>
{{ object.start_date }}<br/>
{{ object.end_date }}<br/>

{% for comment in object.comment_set.all %}
<p>{{ comment.content }} - {{ comment.user }}</p>
{% endfor %}

<form action="{% url 'oneroom:comment_new' object.pk %}" method="POST">
  {% csrf_token %}
  {{ form }}
  <input type="submit" value="작성">
</form>

{% endblock %}
