{% extends "base.html" %}

{% block title %}글 쓰기{% endblock %}
{% block content %}
  <form method="POST">
    {% csrf_token %}
    <div>
      <label for="inputEmail3" >문 종류: </label>
      <select name="gate">
        
          {% for gate in gates %}
          <option value="{{ gate.id }}"{% if form.cleaned_data.gate == gate %} selected{% endif %}>{{ gate.name_kr }}</option>
          {% endfor %}
      </select>
    </div>
      {{ form.as_p }}
    <button type="submit">글 쓰기</button>
  </form>
{% endblock %}
